<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="login-container">

    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">profile</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login"><input type="submit" value="Login" id="loginBtn"></a> 
      <!-- Sign up button -->
      <a href="/signup"><input type="submit" value="Signup" id="signupBtn"></a> 
      {{/if}}

    </nav>
    
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>


    <!-- Include JavaScript files -->
    <script src="/seeds/quizData.js"></script>
    <script src="/js/quiz.js"></script>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="js/logout.js"></script>
  {{/if}}

</body>

<footer>
      <h2>Random Facts</h2>
      <ul>
        {{#each facts}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <h2>Random Quotes</h2>
      <ul>
        {{#each quotes}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
</footer>

</html>
