<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="login-container">
    
    <form action="your-page-url.html" method="post"> <!-- Change your-page-url.html to the URL of your desired page -->
      <input type="text" placeholder="Username" required><br>
      <input type="password" placeholder="Password" required><br>
      <!-- Wrap the button inside an anchor tag -->
    </form>
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">profile</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="your-page-url.html"><input type="submit" value="Login" id="loginBtn"></a> 
      <!-- Sign up button -->
      <a href="signup.html"><input type="sign" value="Signup" id="signupBtn"></a> 
      {{/if}}
      </ul>
    </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
    <div class="vertical-animated-text">
      <span>A</span>
      <span>N</span>
      <span>I</span>
      <span>M</span>
      <span>E</span>
    </div>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
