<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="login-container">
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">profile</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login"><input type="submit" value="Login" id="loginBtn"></a> 
      <!-- Sign up button -->
      <a href="/signup"><input type="submit" value="Signup" id="signupBtn"></a> 
      {{/if}}
    </nav>
  </div>
  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <!-- Include JavaScript files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  <script>
    require.config({
      baseUrl: 'js', // Base directory for modules
      paths: {
        // Define module aliases
        'quizData': 'seeds/quizData'
      }
    });

    // Load the main module
    require(['main']);
  </script>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/public/css/js/logout.js"></script>
  {{/if}}
</body>
<footer>
  <h2>Random Facts</h2>
  <p>{{facts}}</p>
  <h2>Random Quotes</h2>
  <p>{{quote}}</p>
</footer>
</html>
