
<div class="projects">
  {{#each projects}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/music-quiz">Music Quiz</a>
      </h2>
    </div>
  </article>
  {{/each}}
</div>