    <h2 style="color:white;">Enter at your own risk</h2>
    <form action="main.html" method="post"> <!-- Change your-page-url.html to the URL of your desired page -->
      <input type="text" placeholder="Username" required><br>
      <input type="password" placeholder="Password" required><br>
      <!-- Wrap the button inside an anchor tag --> 
    </form>