<h1>Music Quiz</h1>
<div id="quiz-container">
    {{#each quizData}}
    <div class="quiz-item" data-correct="{{correctAnswer}}">
        <h2>{{question}}</h2>
        <audio controls>
            <source src="{{audioSrc}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <ul>
            {{#each choices}}
            <li><button class="choice-btn">{{this}}</button></li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>
<button id="submit-quiz">Submit Quiz</button>

<script src="/css/js/quiz.js"></script>
<audio src="/assets/music/01 - Blue Bird.mp3"></audio>
<audio src="/assets/music/Attack on Titan - LeeandLie - Guren no Yumiya.mp3"></audio>
<audio src="/assets/music/JUJUTSU KAISEN - Opening  Kaikai Kitan (YTCONVERT.IN).mp3"></audio>
<audio src="/assets/music/One Piece - We Are - Full.mp3"></audio>
<audio src="/assets/music/Pokemon.mp3"></audio>